@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
img.imgMain {
    max-width: 200px;
}

body{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
     margin: 4px;
}


@media (min-width: 600px) {
    .mainBlock {
        height: 100vh;
    }

    .detailsBlock {
        justify-content: space-around !important;
    }
    .menu {
        display: none !important;
    }
   .menuMobile {
        display: none;
    }
}
@media (max-width: 600px) {
    .statLine {
        width: 220px !important;
    }
    .detailsBlock {
        height: 410px !important;
    }
    .statsName {
        display: block !important;
    }
    
    .numberStat {
        display: inline-block;
    }
    
    .progressStats {
        display: inline-block;
    }
    .menu .arrowsBlock {
        margin-left: 35px;
        margin-top: 5px;
        width: 190px !important;
    }
    .menu .arrowsBlock button{
        background-color: #FFCB05;
    }
    .menu .nameMobile{
        width: 145px;
    }
    .menuMobile .arrowsBlock {
        justify-content: flex-end;
        margin-top: 3px;
    }
    .menuMobile {
        background-color: #272727;
    }
    .menuMobile .indexBlock {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.mainBlock {
    top: 4px;
    position: absolute;
    width: 100%;
}

.pokemonBlock {
    display: grid;
    justify-items: center;
    margin: 0 auto;
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 0.75rem;
}

p.pokemonTitle {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 42px;
    text-transform: capitalize;
    color: #FFCB05;
    -webkit-text-stroke: 2px #3466AF;
    margin: 0;
    height: 88px;
    display: inline-flex;
    align-items: center;
}

.details {
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
    margin: 2px;
    display: inline-block;
}

.arrowsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
}

.baseState {
    text-align: end;
}

img.imgEvolution {
    max-width: 113px !important;
}

.statsBlock {
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 0.75rem;
}

.evChainBlock {
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 0.75rem;
    text-align: center;
}

.evChainBlock img {
    margin: 0 auto;
}

.detailsBlock {
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.statLine {
    height: 5px !important;
    border-radius: 5px;
}

.secondDetailC {
    width: 325px;
}

.secondDetailCard{
    display: flex;
    justify-content: space-between;
}

.secondMoves {
    display: inline-block;
    margin: 3px;
}

.cardDetailC {
    display: flex;
    height: 191px;
}

.selected .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active.Mui-active {
    color: rgba(0, 0, 0, 0.38)
}

.hideBlock{
    display: none;
}
